{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="../static/css/like.css" media="screen">
</head>>

<h1>Новости</h1>

<a class="article first-article">
  <figure class="article-image">
    <img src="">
  </figure>
  <div class="article-body">
    <h2 class="article-title">
      Без юмора никуда
    </h2>
    <p class="article-content">
     В рамках предметной недели математики, физики, информатики прошёл КВН "В мире занимательной физики" между 10 и 11 классами.
     #физика#наука#дети#образование56
    </p>
      <img src="../static/img/kvn.jpg" width="500px">
    <footer class="article-info">
     8 марта 17:03
    </footer>
  </div>
</a>

<a class="article first-article">
  <figure class="article-image">
    <img src="">
  </figure>
  <div class="article-body">
    <h2 class="article-title">
      Масленица стучится
    </h2>
    <p class="article-content">
     Масленица — веселый праздник, однако нельзя забывать и об одном из ограничений, которое действуют во время Сырной седмицы. Сидеть дома в одиночестве во время Масленичной недели не рекомендуется. Это время, когда следует от души погулять и повеселиться.
     #праздник#масленица#воспитание#школа#дети#образование56
    </p>
      <img src="../static/img/9.jpg" width="500px">
    <div>

</div>
    <footer class="article-info">
     22 февраля 16:57
    </footer>
  </div>
</a>
{% endblock %}