{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="../static/css/dev.css" media="screen">
    <link rel="stylesheet" href="../static/css/dev1.css" media="screen">
</head>>
<h1>Подготовка к ЕГЭ/ОГЭ</h1>


<div class="s-discipline-types"><h2 class="l-section__title a-font_h2">Теоретическая часть</h2>
    <div class="s-discipline-types__cards"><a class="s-discipline-types__card"
                                              href="https://synergy.ru/assets/upload/news/articles_ege/ege/fizika/теория/Краткая%20теория%20ЕГЭ%20по%20физике%20на%20тему%20Кинематика%20-%20теория%20и%20практика%20ЕГЭ.pdf">
        <div class="s-discipline-types__card-title a-font_l-m">Задание 1 ЕГЭ Физика 2021 Теория</div>
        <span class="s-discipline-types__card-ext a-font_xs-m">PDF</span></a><a class="s-discipline-types__card"
                                                                                href="https://synergy.ru/assets/upload/news/articles_ege/ege/fizika/теория/Краткая%20теория%20ЕГЭ%20по%20физике%20Механика.pdf.pdf">
        <div class="s-discipline-types__card-title a-font_l-m">Задание 4, 5, 6, 7 ЕГЭ Физика 2021 Теория</div>
        <span class="s-discipline-types__card-ext a-font_xs-m">PDF</span></a><a class="s-discipline-types__card"
                                                                                href="https://synergy.ru/assets/upload/news/articles_ege/ege/fizika/теория/Краткая%20теория%20ЕГЭ%20по%20физике%20Механика.pdf.pdf">
        <div class="s-discipline-types__card-title a-font_l-m">Задание 9, 11, 12 ЕГЭ Физика 2021 Теория</div>
        <span class="s-discipline-types__card-ext a-font_xs-m">PDF</span></a><a class="s-discipline-types__card"
                                                                                href="https://synergy.ru/assets/upload/news/articles_ege/ege/fizika/теория/теория%20егэ%202020%20оптика.pdf">
        <div class="s-discipline-types__card-title a-font_l-m">Задание 15 ЕГЭ Физика 2021 Теория</div>
        <span class="s-discipline-types__card-ext a-font_xs-m">PDF</span></a><a class="s-discipline-types__card"
                                                                                href="https://synergy.ru/assets/upload/news/articles_ege/ege/fizika/теория/теория%20егэ%202020%20электродинамика.pdf">
        <div class="s-discipline-types__card-title a-font_l-m">Задание 16, 17, 18 ЕГЭ Физика 2021 Теория</div>
        <span class="s-discipline-types__card-ext a-font_xs-m">PDF</span></a><a class="s-discipline-types__card"
                                                                                href="https://synergy.ru/assets/upload/news/articles_ege/ege/fizika/теория/Астрономия%20и%20астрофизика%20в%20ЕГЭ%202021%20по%20физике.pdf">

        <div class="s-discipline-types__card-title a-font_l-m">Задание 24 ЕГЭ Физика 2021 Теория</div>
        <span class="s-discipline-types__card-ext a-font_xs-m">PDF</span></a><a class="s-discipline-types__card"
                                                                            href="https://synergy.ru/assets/upload/news/articles_ege/ege/fizika/теория/теория%20егэ%202020%20механика.pdf">
        <div class="s-discipline-types__card-title a-font_l-m">Задание 28, 29 ЕГЭ Физика 2021 Теория</div>
        <span class="s-discipline-types__card-ext a-font_xs-m">PDF</span></a><a class="s-discipline-types__card"
                                                                                href="https://synergy.ru/edu/ege/ege_2021/fizika/teoreticheskaya_chast/vse_formulyi_po_fizike_dlya_ege">
        <div class="s-discipline-types__card-title a-font_l-m">Все формулы по&nbsp;физике для ЕГЭ</div>
        <span class="s-discipline-types__card-ext a-font_xs-m">PDF</span></a></div>
<div class="s-ic-pagination"></div>
<div class="s-discipline-types__content a-font_l"><p>Вся теория для подготовки к&nbsp;ЕГЭ по&nbsp;физике в&nbsp;одном
    месте. Очень удобно работать&nbsp;— файлы разделены по&nbsp;вопросам экзаменационного листа. Выбирайте нужную тему,
    открывайте материал и&nbsp;учите или повторяйте, не&nbsp;теряя времени на&nbsp;сбор данных из&nbsp;разных
    источников.</p>
    <p>Информация в&nbsp;файлах подана схематически&nbsp;— быстро запоминается, легко разложить все по&nbsp;полочкам.
        Важные определения выделены шрифтом, чтобы вы&nbsp;не&nbsp;запутались. Графики для наглядности помогут лучше
        сориентироваться и&nbsp;разобраться в&nbsp;физических процессах, явлениях.</p>
    <p>Все формулы, которые нужно знать для успешного прохождения испытания, мы&nbsp;вынесли в&nbsp;отдельный файл.
        Скачайте его себе на&nbsp;смартфон, чтобы повторять их&nbsp;в&nbsp;любое время там, где вам это удобно.</p>
    <p>Раздел содержит теорию для ЕГЭ по&nbsp;физике на&nbsp;2021 учебный год. Тем, кто хочет более подробно изучать
        предмет, предлагаем просмотреть материалы прошлых лет.</p></div></div>
</div><br>
{% endblock %}