{% extends "base.html" %}
<body>
{% block content %}
<h1>{{ projects.heading }}
<p>{{ projects.topic }}</p>
<h6>{{ projects.fullname }}</h6>
<h5>{{ projects.annotation }}</h5>
<div>
    <a href="/like_projects/{{ projects.id }}" class="btn btn-outline-success">
        Нравится {{ projects.like }}
    </a>
    <a href="/dislike_projects/{{ projects.id }}" class="btn btn-outline-danger">
        Не нравится {{ projects.dislike }}
    </a>
</div>
<br>
<p>{{ projects.post }} {{ projects.place }}</p>
<p>{{ projects.fullnames }} </p>
{% if projects.docx %}
<a href="/download_docx/{{ projects.id }}" class="btn btn-secondary">
    Загрузить docx
</a>
{% endif %}
{% if current_user.is_authenticated and current_user.is_developer and not projects.is_confirmed %}
<!--<a href="/developer_panel/projects_approve/{{ projects.id }}" class="btn btn-outline-warning">-->
<!--    Одобрить-->
<!--</a>-->
<a href="/score_submission/{{ p rojects.id }}" class="btn btn-outline-success">Оценить</a>
{% endif %}

<!--{% if current_user.is_authenticated and current_user == projects.user or current_user.is_developer %}
    <div>
        <a href="/projects/{{ projects.id }}" class="btn btn-outline-secondary">
            Изменить
        </a>
        <a href="/projects_delete/{{ projects.id }}" class="btn btn-outline-danger">
            Удалить
        </a>
    </div>
{% endif %}-->
<hr>
<p>Напишите комментарий:</p>
<form action="" method="post" class="comm">
    <textarea name='text' class="comment"></textarea>
    <!--<a href="/project_comment/{{ projects.id }}" class="btn btn-secondary">Отправить</a>-->
    <input name="com_submit" type="submit">
</form>
<p>Комментарии:</p>
{% if comments %}
{% for i in comments %}
<div class="col-md6 border rounded aaa">
    <h4>{{i[1].name}}</h4>
    <div>
        <h5>{{i[0]}}</h5>
    </div>
</div>
{% endfor %}
{% else %}
<div class="col-md6 border rounded aaa">
    <h5>Ещё никто не написал комментарий :(</h5>
</div>
<br>
{% endif %}
{% endblock %}
</body>